/* start custom scss snippet */
.article__content {
  details {
    margin: map-get($spacers, 2) 0;

    summary {
      &.success {
        padding: map-get($spacers, 2) map-get($spacers, 3);
        background-color: rgba($green, .1);
        border: 1px solid $green;
        border-radius: map-get($base, border-radius);
      }

      &.info {
        padding: map-get($spacers, 2) map-get($spacers, 3);
        background-color: rgba($blue, .1);
        border: 1px solid $blue;
        border-radius: map-get($base, border-radius);
      }

      &.warning {
        padding: map-get($spacers, 2) map-get($spacers, 3);
        background-color: rgba($yellow, .1);
        border: 1px solid $yellow;
        border-radius: map-get($base, border-radius);
      }

      &.error {
        padding: map-get($spacers, 2) map-get($spacers, 3);
        background-color: rgba($red, .1);
        border: 1px solid $red;
        border-radius: map-get($base, border-radius);
      }
    }

    &.error {
      border: 1px solid $red;
      border-radius: map-get($base, border-radius);

      summary {
        background-color: rgba($red, .1);
        padding: map-get($spacers, 2) map-get($spacers, 3);
      }
    }

    &.warning {
      border: 1px solid $yellow;
      border-radius: map-get($base, border-radius);

      summary {
        background-color: rgba($yellow, .1);
        padding: map-get($spacers, 2) map-get($spacers, 3);
      }
    }

    &.info {
      border: 1px solid $blue;
      border-radius: map-get($base, border-radius);

      summary {
        background-color: rgba($blue, .1);
        padding: map-get($spacers, 2) map-get($spacers, 3);
      }
    }

    &.success {
      border: 1px solid $green;
      border-radius: map-get($base, border-radius);

      summary {
        background-color: rgba($green, .1);
        padding: map-get($spacers, 2) map-get($spacers, 3);
      }
    }

    &.exploit {
      border: 1px solid $blue;
      border-radius: map-get($base, border-radius);

      summary {
        background-color: rgba($blue, .1);
        padding: map-get($spacers, 2) map-get($spacers, 3);
      }
    }

  }

  // p {
  //   &.error {
  //     background-color: rgba($red, .1);
  //     border: 1px solid $red;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }

  //   &.warning {
  //     background-color: rgba($yellow, .1);
  //     border: 1px solid $yellow;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }

  //   &.info {
  //     background-color: rgba($blue, .1);
  //     border: 1px solid $blue;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }

  //   &.success {
  //     background-color: rgba($green, .1);
  //     border: 1px solid $green;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }
  // }

  // div {
  //   &.error {
  //     background-color: rgba($red, .1);
  //     border: 1px solid $red;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }

  //   &.warning {
  //     background-color: rgba($yellow, .1);
  //     border: 1px solid $yellow;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }

  //   &.info {
  //     background-color: rgba($blue, .1);
  //     border: 1px solid $blue;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }

  //   &.success {
  //     background-color: rgba($green, .1);
  //     border: 1px solid $green;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }
  // }

  // section {
  //   &.error {
  //     background-color: rgba($red, .1);
  //     border: 1px solid $red;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }

  //   &.warning {
  //     background-color: rgba($yellow, .1);
  //     border: 1px solid $yellow;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }

  //   &.info {
  //     background-color: rgba($blue, .1);
  //     border: 1px solid $blue;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }

  //   &.success {
  //     background-color: rgba($green, .1);
  //     border: 1px solid $green;
  //     border-radius: map-get($base, border-radius);
  //     padding: map-get($spacers, 2) map-get($spacers, 3);
  //   }
  // }

}

/* end custom scss snippet */
